* {
  border: 0 dotted tomato;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



.wrap {
  @include outer-container(1260px);
}
.row {
  @include span-columns(12);
  padding: 0 2%;
}
.main {
  @include span-columns(9 of 12);
  margin: 0;
  height: 100%;
  @media screen and #{$medium-break} {
    @include span-columns(12 of 12);
  }
}
.feature {
  @include span-columns(8 of 12);
  margin-right: 0%;
  padding-right: 1.15%;
}
.secondary {
  @include span-columns(4 of 12);
  border-right: $border-color 1px solid;
  border-left: $border-color 1px solid;
  padding: 1.15%;
}
.tile {
  @include span-columns(3 of 12);
  height: 50%;
  width: 26.1%;
  margin-right: 0;
  margin-left: -.75%;
}
