#menu-bars {
  position: absolute;
  top: 20px;
  left: 30px;
  border: 1px solid $border-color;
  padding: 7px 10px;
  @media #{$nav-break} {
    top: 6px;
    left: 10px;
  }
  &:hover {
    cursor: pointer;
  }
}
#menu-bars:target + #hidden {
  display: block;
}
#hidden {
  display: none;
}
#hidden:target{
  display: none;
}
