img {
  max-width: 100%;
  border: 1px solid $border-color;
}
.small-logo {
  display: none;
  @media #{$medium-break} {
    display: block;
  }
}
.article {
  .logo {
    .main {
      @media #{$medium-break} {
      display: none;
      }
    }
  }
}
.logo img {
    position: relative;
    height: 42.3px;
    display: block;
    top: 40%;
    margin-left: auto;
    margin-right: auto;
    border: none;
    @media #{$nav-break} {
      height: 27.91px;
      top: 10px;
      margin-left: 70px;
    }
}
.article {
  .logo img {
    height: 25px;
    top: 10px;
    margin-left: 60px;
  }
}
.article-wrap img {
  border: none;
}
