body {
  color: $text-color;
}
h1 {
  margin: 10px 0;
  font-size: 1.5em;
  &:hover {
    color: $text-hover;
    cursor: pointer;
  }
}
p {
  font-size: 0.9em;
}
li {
  font-size: 0.8em;
  color: $onion-green;
}
a {
  text-decoration: none;
  color: $text-color;
  &:hover {
    cursor: pointer;
    color: $text-hover;
  }
  &:visited {
    color: $text-color;
  }
}
h4 {
  margin: 10px 0;
  font-size: 1em;
  line-height: 1.1em;
  &:hover {
    color: $text-hover;
    cursor: pointer;
  }
}
.text {
  p {
    margin-bottom: 20px;
  }
  ul {
    padding: 5px 0 10px 20px;
  }
  a {
    color: $links-color;
    &:hover {
      text-color: $links-hover;
    }
  }
}
.political-links {
  a {
    padding-top: 5px;
    text-decoration: none;
    font-size: .75em;
    text-transform: uppercase;
    color: $links-blue;
    &:first-child {
      font-weight: 700;
      float: left;
    }
    &:last-child {
      float: right;
      font-family: sans-serif;
    }
  }
}
// main article text ===============
.article-main {
  h1 {
    margin: 30px 0;
    font-size: 2.2em;
    padding-top: 30px;
    border-top: 3px solid $onion-green;

    &:hover {
      cursor: default;
      color: $text-color;
    }
  }
  p {
    font-family: "Georgia",Times New Roman,serif;
    font-size: 1em;
    line-height: 1.5em;
  }
  h5 {
    font-size: .8em;
    text-transform: uppercase;
    margin-bottom: 4px;
  }
  .date {
    font-size: .9em;
    display: block;
    margin-bottom: 10px;
  }
  .volume {
    border-bottom: 1px solid $border-color;
    padding-bottom: 35px;
    font-size: .9em;
  }
}
.article-caption p {
  margin-bottom: 30px;
  font-style: italic;
  font-family: "Georgia",Times New Roman,serif;
  font-size: 0.8em;
}
