//color variables

$primary-color: black;
$secondary-color: #646464;
$onion-green: #006b3a;
$onion-green-light: tint($onion-green, 30%);
$onion-green-lighter: tint($onion-green, 10%);
$button-text-color: white;
$blue: #2752B6;
$off-white: #F9FAFA;

//color uses

$text-color: $primary-color;
$text-hover: $secondary-color;
$border-color: lighten($secondary-color, 40%);
$links-color: $onion-green;
$links-hover: $onion-green-lighter;
$links-blue: $blue;
$facebook: #4163AF;
$twitter: #00ACED;
$google: #DB4933;
$tumblr: #3A5D7D;
$pinterest: #CD2028;
$instagram: #4B82A3;
$youtube: #E52D27;
$rss: #FA9B39;


//breakpoints

$medium-break: '(max-width: 1000px)';
$nav-break: '(max-width: 768px)';
$small-break: '(max-width: 600px)';
